body {
    margin: 0;
    height: 125vh;
    /* background-image: url('images/initiation_epsilon_gamma.png'); */
    background-color: #f1f1f1;
    background-size: cover;
    background-position: center;
}

section{
  background-color: #f1f1f1;
}

header{
  width: 100%;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url("https://cooperjones13.github.io/etagamma/images/orange.JPG");
  background-position: top;
  background-size: cover;
  height: 65%;
}

header .container{
  text-align: left;
  width: 80%;
}

header h2{
  font-weight: 9999;
  color: #f1f1f1;
  padding: 0;
  margin: 0;
}

header p{
  color: #f1f1f1;
  margin: 0;
}

main{
  font-weight: 100;
  color: #451818;
  background-color: #f1f1f1;
  text-align: center;
  font-size: 56px;
}

main p, main ul{
  font-size: 18px;
  text-align: left;
}

#pillars{
  background-color: #f1f1f1;
}

.tri-col img{
  max-height: 90%;
  max-width: 100%;

}

.tri-col h4{
  width: 100%;
  height: auto;
  align-self: flex-start;
}

.tri-col ul{
  margin-top: 0;
  padding-left: 1.5em;
}
.columns{
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  width: 90%;
  margin: 0 5%;
}

.history{
  color:#913333;
}


.history p{
  font-size: 18px;
  text-align: left;
}

.history h4{
  margin: 0;
  font-size: 24px;
  text-align: left;
}

#about{
  display: inline-block;
  width: 50%;
  padding-top: 35px;
  padding-right: 5%;
  padding-left: 1%;
}

h3{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 20px;
  font-weight: 800;
  letter-spacing: .05em;
  color: #f1f1f1;
  background-color: #913333;
  font-size: 24px;
}

@media screen and (min-width: 1100px) {

  .tri-col{
    color: #913333;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    width: 31%;
    max-width: 500px;
    justify-content: flex-start;
    align-items: center;
  }

  .img-container-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
  }

  .text-container-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  header h2{
    font-size: 7em
  }

  header p{
    font-size: 4em
  }
}

@media screen and (min-width: 900px){
  #pillars .columns-full{
    display: flex;
    align-content: flex-start;
    width: 100%;
    flex-direction: row;
  }

  #pillars .tri-col-full{
    color: #913333;
    font-size: 24px;
    display: flex;
    width: 100%;
    min-height: 10em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #pillars .img-text-container-col{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url("https://cooperjones13.github.io/etagamma/images/placeholder.png");
  }
}

@media screen and (max-width: 900px){
  #pillars .columns-full{
    display: flex;
    align-content: flex-start;
    width: 100%;
    flex-direction: column;
  }

  #pillars .img-text-container-col{
    height: 33.33vw;
  }

  #pillars .tri-col-full{
    color: #913333;
    font-size: 24px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #pillars .img-text-container-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media screen and (max-width: 1100px) and (min-width: 500px) {

  .tri-col{
    color: #913333;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 30%;
  }

  .img-container-col{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
  }

  .text-container-col{
    width: 65%;
  }

  .content{
    display: flex;
    flex-direction: row;
  }
  .columns{
    flex-direction: column;
  }

  header h2{
    font-size: 5em
  }

  header p{
    font-size: 2.5em
  }
}

@media screen and (max-height: 400px) {
  header h2{
    font-size: 3em
  }

  header p{
    font-size: 1.5em
  }
}

@media screen and (max-width: 500px) {
  header h2{
    font-size: 3em
  }

  header p{
    font-size: 1.5em
  }

  .columns{
    flex-direction: column;
  }
  .tri-col{
      width: 100%;
  }
  .tri-col img{
    max-width: 60%;
  }

}
