body {
    margin: 0;
    margin-top: 50px;
    height: 125vh;
    /* background-image: url('images/initiation_epsilon_gamma.png'); */
    background-color: #f1f1f1;
    background-size: cover;
    background-position: center;
}

header{
  padding: 150px 5% 170px;
  letter-spacing: .1em;
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url("https://cooperjones13.github.io/etagamma/images/orange.JPG");
  background-position: top;
  background-size: cover;
  text-align: left;
  color: white;
}

header h1{
  font-weight: 800;
  font-size: 124px;
  padding: 20px 0;
  margin: 0;
}

header p{
  margin: 0;
  font-size: 48px;
  width: 70%;
}

main{
  font-weight: 100;
  color: #451818;
  background-color: white;
  text-align: center;
  font-size: 56px;
}
main #pillars{
  font-weight: 700;
  padding: 0 4%
}

main #pillars .col img{
  padding: 5%;
  max-width:90%;
  height: auto;
  border-radius: 50%;
}

main .history  img{
  display: inline-block;
  padding-top: 15px;
  padding-left: 5%;
  width:auto;
  height: 10%;
  max-height: 520px;
  float:left;
}

main .col{
  color: #913333;
  font-size: 24px;
  display: inline-block;
  width: 30%;
  max-width: 500px;
}

.history{
  color:#913333;
}

.history p{
  font-size: 18px;
  text-align: left;
}

.history h3{
  margin: 0;
  font-size: 24px;
  text-align: left;
}

#about{
  display: inline-block;
  width: 50%;
  padding-top: 35px;
  padding-right: 5%;
  padding-left: 1%;
}

#about ul{
  font-size: 18px;
  text-align: left;
}

h2{
  margin: 0;
  padding: 20px;
  font-weight: 800;
  letter-spacing: .05em;
  color: white;
  background-color: #913333;
  font-size: 24px;
}
