*{
  font-family: 'Noto Serif SC', serif;
}

body {
    margin: 0;
  }

p, ul, li{
  font-family: 'Open Sans', serif;
  color: #32292F;
}

nav{
  background-color: #913333;
  color: white;
  text-decoration: none;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-bottom: 3px #f1f1f1 solid;
  margin: 0;
  padding: 0;
  width: 100%;
  box-shadow: 0px 4px 24px 0px rgba(0,0,0,.2);
  position: sticky;
  transition: position 1s ease-in;

  display: flex;
  justify-content: space-around;
}

nav a{
  color: white;
  text-decoration: none;
}

#logoAndName{
  float: left;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content:flex-start;
}

#logo{
  height: 5em;
  padding-right: 1em;
}
#name{
  color:white;
  font-size: 32px;
}

#name h1:hover{
  color: #FFDF80;
}

#menuBtn{
  display: none;
}

.navigation{
  /* margin: 0 5% 0 0; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;

}

.dropbtn {
  text-align: center;
  background-color: #913333;
  color: white;
  padding: 0 1em;
  font-size: 20px;
  height: 75px;
  border: none;
}


.navigation .dropdown {
  text-align: center;
  float: right;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.dropdown-content {
  /* text-align: left; */
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navigation .dropdown-content a {
  text-align: left;
  color: #913333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #BF4343;}


@media screen and (max-width: 1200px) {

  nav{
      flex-wrap: wrap;
      justify-content: space-between;
  }

  #logoAndName{
    justify-content: flex-start;
    width: 40%;
    padding-left: 5%;
  }
  #name{
    float: none;
  }

  #homeBtn{
    display: none;
  }

  .navigation{
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    width: 55%;
  }
}

@media screen and (max-width: 810px) {
  #logoAndName{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin: 1em 0;
  }

  #name{
    text-decoration: none;
    font-size: 2em;
    margin: 0 .5em;
    padding: 0;
  }
  #logo{
   display:none;
  }
  #menuBtn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: none;
    border:none;
    padding: .5em;
    height: 4em;

  }

  .dropdown{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
  }
  .dropdown-content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  .dropdown > a{
    color: white;
  }




  .navigation{
   display: none;
  }



  .responsive{
   position: relative;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
  }

  .responsive .dropdown{
    display:block;
    width: 100%;
    border-top: 4px rgba(45, 18, 18, 0.6) solid;
  }

  .responsive button{
   width: 100%;
   margin: 0 .2em;
  }

  .responsive .dropdown-content {
    /* text-align: left; */
    display: block;
    width: 100%;
    position: static;
    background-color: #f1f1f1;
  }
}





/* HAMBURGERS MENU */

.bar1, .bar2, .bar3 {
  width: 45px;
  height: 6px;
  background-color: #f1f1f1;
  transition: 0.4s;
  border-radius: 2.5px;
}

.change .bar1 {
  -webkit-transform: translateY(14.5px) rotate(-45deg) ;
  transform: translateY(14.5px) rotate(-45deg) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: translateY(-14.5px) rotate(45deg) ;
  transform: translateY(-14.5px) rotate(45deg) ;
}
