body {
    margin: 0;
    margin-top: 50px;
    font-family: 'Source Sans Pro' , sans-serif;
    height: 125vh;
    /* background-image: url('images/initiation_epsilon_gamma.png'); */
    background-color: white;
    background-size: cover;
    background-position: center;
}

header{
  padding: 150px 5% 170px;
  background-image: url("https://cooperjones13.github.io/etagamma/images/rushweek.jpg");
  background-position: top;
  background-size: cover;
  text-align: left;
  color: white;
}

header h1{
  font-size: 124px;
  padding: 20px 0;
  margin: 0;
  text-shadow: #913333 0 0 200px;
}

header p{
  margin: 0;
  font-size: 48px;
  font-weight: lighter;
  width: 70%;
}

nav{
  background-color: #913333;
  color: white;
  text-decoration: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-bottom: 1px white solid;
  margin: 0;
  padding: 0 2%;
}

nav img{
  display: inline-block;
  float: left;
  height: 75px;
}
nav h1{
  display: inline-block;
  float: left;
  font-size: 32px;
  margin-bottom:0;
  margin-top: 10px;
  padding: 7px 20px;
}

nav a{
  color: white;
}

nav .nav-link {
  float: right;
  display: inline-block;
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  padding: 25px 20px;
  text-decoration: nONE;
}

/* Change the link color to #111 (black) on hover */
nav a:hover {
  color: #FFCC33;
}

main{
  color: white;
  background-color: white;
  text-align: center;
  font-size: 56px;
}

main #pillars .col img{
  padding: 5%;
  max-width:90%;
  height: auto;
  border-radius: 50%;
}

main #history  img{
  display: inline-block;
  padding-top: 15px;
  padding-left: 5%;
  width:auto;
  height: 100%;
  max-height: 520px;
  float:left;
}

main .col{
  color: #913333;
  font-size: 24px;
  display: inline-block;
  width: 30%;
  max-width: 500px;
}

#history{
  color:#913333;
}

#history p{
  font-size: 18px;
  text-align: left;
}

#history h3{
  margin: 0;
  font-size: 24px;
  text-align: left;
}

#about{
  display: inline-block;
  width: 50%;
  padding-top: 35px;
  padding-right: 5%;
  padding-left: 1%;
}

#about ul{
  font-size: 18px;
  text-align: left;
}

h2{
  margin: 0;
  padding: 20px;
  color: white;
  background-color: #913333;
  font-size: 24px;
}
