body {
    margin: 0;
    margin-top: 50px;
    font-family: 'Source Sans Pro' , sans-serif;
    height: 125vh;
    /* background-image: url('images/initiation_epsilon_gamma.png'); */
    background-color: white;
    background-size: cover;
    background-position: center;
}

header{
  padding: 125px 5% 125px;
  background-image: url("https://cooperjones13.github.io/etagamma/images/rushweek.jpg");
  background-position:  center;
  background-size: cover;
  text-align: left;
  color: white;
}

header h1{
  font-size: 124px;
  padding: 20px 0;
  margin: 0;
  text-shadow:
		-2px -2px 0 #913333,
		2px -2px 0 #913333,
		-2px 2px 0 #913333,
		2px 2px 0 #913333;
}

header p{
  margin: 0;
  font-size: 48px;
  font-weight: lighter;
  width: 70%;
  text-shadow:
		-1px -1px 0 #913333,
		1px -1px 0 #913333,
		-1px 1px 0 #913333,
		1px 1px 0 #913333;
}

main{
  color: white;
  background-color: white;
  text-align: center;
  font-size: 56px;
}

#flyer{
margin: 0;
}

main #flyer img{
  padding: 2% 5%;
  width:20%;
  height: 45%;

}

main #history  img{
  display: inline-block;
  padding-left: 5%;
  width:auto;
  height: 100%;
  max-height: 520px;
  float:left;
}

main .col{
  color: #913333;
  font-size: 24px;
  display: inline-block;
  width: 30%;
  max-width: 500px;
}

#history{
  color:#913333;
}

#history p{
  font-size: 18px;
  text-align: left;
}

#history h3{
  margin: 0;
  font-size: 24px;
  text-align: left;
}

#about{
  display: inline-block;
  width: 50%;
  padding-top: 35px;
  padding-right: 5%;
  padding-left: 1%;
}

#about ul{
  font-size: 18px;
  text-align: left;
}

h2{
  margin: 0;
  padding: 20px;
  color: white;
  background-color: #913333;
  font-size: 24px;
}
